<!-- <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h3>{{message.summary}}</h3>
        <p>{{message.detail}}</p>
    </div>
    <div class="p-grid ui-fluid">
        <div class="p-col-6">
            <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
        </div>
        <div class="p-col-6">
            <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
        </div>
    </div>
</ng-template>
</p-toast> -->

<div class="d-flex justify-content-center">

<div class="section">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-row">
      <h1>Upload Data</h1>
    </div>
  </div>
  <form (ngSubmit)="onUpload(f.value)" #f="ngForm">
    <div class="form-group row">
      <label class="col-sm-2">ID</label>
    <div class="col-sm-10">
      <input name="Id" type="text" class="form-control" placeholder="enter id" ngModel required #id="ngModel" pattern="[0-9]*">
      <span class="vald" *ngIf="id.hasError('required') && id.touched">please enter id</span>
      <span class="vald" *ngIf="id.hasError('pattern') && !id.pristine">characters are not allowed</span>
    </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">TITLE</label>
    <div class="col-sm-10">
      <input name="Title" type="text" class="form-control" placeholder="enter title" ngModel required #title="ngModel" pattern="[a-zA-Z\s]*">
      <span class="vald" *ngIf="title.hasError('required') && title.touched">please enter title</span>
      <span class="vald" *ngIf="title.hasError('pattern') && !title.pristine">numbers are not allowed</span>
    </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">STATUS</label>
    <div class="col-sm-10">
      <input name="Status" type="text" class="form-control" placeholder="enter title" ngModel required #status="ngModel" pattern="[a-zA-Z\s]*">
      <span class="vald" *ngIf="status.hasError('required') && status.touched">please enter status</span>
      <span class="vald" *ngIf="status.hasError('pattern') && !status.pristine">numbers are not allowed</span>
    </div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" [disabled]="!f.valid" class="btn btn-primary">upload</button>&nbsp;

    </div>
  </form>
</div>
</div>
<!-- <p-toast position="top-right"></p-toast> -->
